{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center py-5" 
    style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('{{ MEDIA_URL }}imagenes/BH_Como-promocionar-tu-clinica-dental-con-acciones-de-siempre-pero-como-nunca.jpg') no-repeat center center fixed;background-size: cover;">
    <div class="card shadow" style="max-width: 400px;">
        <div class="card-header bg-primary text-white text-center py-3">
            <h3 class="mb-0">Dental Knights</h3>
        </div>
        <div class="card-body p-4">
            <h4 class="card-title text-center mb-4">Bienvenido</h4>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary" type="submit">Iniciar sesión</button>
                </div>
            </form>
        </div>
        <div class="card-footer bg-white text-center py-3">
            <div class="row">
                <div class="col-4">
                    <a href="{% url 'home' %}" class="text-decoration-none">Inicio</a>
                </div>
                <div class="col-4">
                    <a href="{% url 'register' %}" class="text-decoration-none">Registrarse</a>
                </div>
                <div class="col-4">
                    <a href="{% url 'password_reset' %}" class="text-decoration-none">Recuperar Contraseña</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
