{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h2 class="mb-4">Registrar Asistencias para el servicio: {{ servicio.name }}</h2>
    <h5>
        Profesional: <strong>{{ servicio.profesional.get_full_name }}</strong>
        {% if servicio.status == 'S' %}
            <span class="badge bg-success float-end">EN SOLICITUD</span>
        {% elif servicio.status == 'P' %}
            <span class="badge bg-warning text-dark float-end">EN PROGRESO</span>
        {% elif servicio.status == 'F' %}
            <span class="badge bg-danger float-end">FINALIZADO</span>
        {% endif %}
    </h5>
    <hr>

    <form action="{% url 'agregar_asistencia' servicio.id %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card">
                    {% if messages %}
                        <div class="container mt-3">
                            {% for message in messages %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="card-header">
                        <h5 class="card-title mb-0">Registrar Asistencias</h5>
                    </div>

                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label" for="date">Fecha de asistencia:</label>
                            <input class="form-control" type="date" name="date" id="date" required>
                        </div>
                        <hr>
                        
                        <div class="mb-3">
                            <label class="form-label">Lista de asistencia:</label>
                            <div class="alert alert-info">
                                Marcar casilla = SR (Sesión Realizada)<br>
                                Sin marcar = NR (No Realizada)
                            </div>
                            {% for registro in registros %}
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="asistencia_{{ registro.cliente.id }}" id="{{ registro.cliente.id }}_present" value="1">
                                    <label class="form-check-label" for="{{ registro.cliente.id }}_present">
                                        {{ registro.cliente.get_full_name }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-secondary" href="{% url 'lista_asistencia' servicio.id %}">
                                Volver Atrás
                            </a>
                            <button class="btn btn-primary" type="submit">
                                Guardar Asistencias
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}