{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h2>Administración de Asistencias a Procediminetos Dentales</h2>
        <h4>
            Listado de Clientes - <strong>{{ servicio.name }}</strong>
            {% if servicio.status == 'S' %}
                <span class="badge bg-success float-end">EN SOLICITUD</span>
            {% elif servicio.status == 'P' %}
                <span class="badge bg-warning text-dark float-end">EN PROGRESO</span>
            {% elif servicio.status == 'F' %}
                <span class="badge bg-danger float-end">FINALIZADO</span>
            {% endif %}
        </h4>
        <hr>
        <div class="row">
            <div class="col">
                <h5>Cantidad de Sesiones: {{ servicio.n_procedimientos }}</h5>
            </div>
            <div class="col">
                <h5>Sesiones restantes: {{ sesiones_restantes }}</h5>
            </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped">
                <div>
                    <h5>Calendario de Asistencias</h5>
                    SR = Sesion Realizada | NR = Sesion No Realizada
                </div>
                <thead>
                <tr>
                    <th>Cliente</th>
                    {% for asistencia in asistencia_data %}
                        <th class="text-center">{{ asistencia.date }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.cliente__first_name }} {{ cliente.cliente__last_name }}</td>
                        {% for item in asistencia_data %}
                            {% for asistencia in item.asistencia_data %}
                                {% if cliente.cliente__id == asistencia.cliente.cliente__id %}
                                    {% if asistencia.present == True %}
                                    <!-- Si el cliente está presente -->
                                        <td class="text-center text-primary">
                                            <strong>SR</strong>
                                        </td>
                                        <!-- SR sesion realizada -->
                                        <!-- NR sesion no realizada -->
                                    {% else %}
                                    <!-- Si el cliente no está presente -->
                                        <td class="text-center text-danger">
                                            <strong>NR</strong>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary float-end {% if servicio.status == 'S' or servicio.status == 'F' or sesiones_restantes == 0 %}disabled{% endif %}" href="{% url 'agregar_asistencia' servicio.id %}">
            Agregar Asistencias
        </a>
        <a class="btn btn-secondary" href="{% url 'profile' %}">Volver Atrás</a>
    </div>
{% endblock %}