{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container my-4">
        <h2>Agregar Nuevo Servicio</h2>

        <!-- sección de mensajes -->
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="card mx-auto my-5" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title">Complete todos los campos</h5>
                    {{ form | crispy }}
                    <a class="card-link" href="{% url 'home' %}">Inicio</a>
                    <a class="card-link" href="{% url 'servicios' %}">Servicios</a>
                    <button class="btn btn-primary float-end" type="submit">Guardar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
