{% if user.is_authenticated %}
    {% if group_name == 'clientes' %}
        <header class="p-3 text-bg-dark bg-primary">
    {% elif group_name == 'profesionales' %}
        <header class="p-3 text-bg-dark bg-success">
    {% elif group_name == 'ejecutivos' %}
        <header class="p-3 text-bg-dark bg-danger">
    {% elif group_name == 'administradores' %}
        <header class="p-3 text-bg-dark bg-info">
    {% else %}
        <header class="p-3 text-bg-dark bg-dark">
    {% endif %}
{% else %}
    <header class="p-3 text-bg-dark bg-black">
{% endif %}

    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none text-center">
                DentalArt<br>El Arte de Tu Sonrisa
            </a>

            {% if user.is_authenticated %}
                {% if group_name == 'clientes' %}
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-primary">
                {% elif group_name == 'profesionales' %}
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-success">
                {% elif group_name == 'ejecutivos' %}
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-danger">
                {% elif group_name == 'administradores' %}
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-info">
                {% else %}
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-dark">
                {% endif %}
            {% else %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-black">
            {% endif %}

                <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Inicio</a></li>
                <li><a href="{% url 'servicios' %}" class="nav-link px-2 text-white">Servicios</a></li>

                {% if not user.is_authenticated or group_name == 'clientes' %}
                <li><a href="{% url 'pricing' %}" class="nav-link px-2 text-white">Precios</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Preguntas y Respuestas</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Acerca de</a></li>
                {% endif %}
            </ul> 

            <div class="d-flex align-items-center" style="gap: 20px;">
                {% if user.is_authenticated %}
                    <li style="list-style-type: none;">
                        <a class="nav-link px-2 text-white" href="{% url 'profile' %}">{{ group_name_singular|capfirst }}
                            | {{ user.username }}</a>
                    </li>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-danger">Cerrar Sesión</button>
                    </form>
                {% else %}   
                    <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Iniciar Sesión</a>
                    <a href="{% url 'register' %}" class="btn btn-warning">Registrarse</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>


