{% if user.is_authenticated %}
    {% if group_name == 'clientes' %}
        <header class="p-3 text-bg-dark bg-primary">
    {% elif group_name == 'profesionales' %}
        <header class="p-3 text-bg-dark bg-success">
    {% elif group_name == 'ejecutivos' %}
        <header class="p-3 text-bg-dark bg-danger">
    {% elif group_name == 'administradores' %}
        <header class="p-3 text-bg-dark bg-info">
    {% else %}
        <header class="p-3 text-bg-dark bg-dark">
    {% endif %}
{% else %}
    <header class="p-3 text-bg-dark bg-black">
{% endif %}

    <div class="container">  <!-- Contenedor general de la cabecera -->
        <div class="d-flex flex-wrap align-items-center justify-content-between">  <!-- Contenedor flexible para alinear los elementos -->
            <!-- Enlace a la página de inicio -->
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none text-center" style="margin-right: 30px;">
                <img src="/media/dienteicon.jpg" alt="Logo" style="width: 24px; height: 24px; margin-right: 8px;">  <!-- Imagen del logo -->
                <span class="ms-3">Dental Knights</span> <!-- Nombre del sitio separado con margen -->
            </a>
            

            {% if user.is_authenticated %}  <!-- Si el usuario está autenticado -->
                {% if group_name == 'clientes' %}  <!-- Si el grupo del usuario es 'clientes' -->
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-primary">  <!-- Menú de navegación con fondo azul -->
                {% elif group_name == 'profesionales' %}  <!-- Si el grupo del usuario es 'profesionales' -->
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-success">  <!-- Menú de navegación con fondo verde -->
                {% elif group_name == 'ejecutivos' %}  <!-- Si el grupo del usuario es 'ejecutivos' -->
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-danger">  <!-- Menú de navegación con fondo rojo -->
                {% elif group_name == 'administradores' %}  <!-- Si el grupo del usuario es 'administradores' -->
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-info">  <!-- Menú de navegación con fondo azul claro -->
                {% else %}  <!-- Si el grupo no coincide con ninguno de los anteriores -->
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-dark">  <!-- Menú de navegación con fondo oscuro por defecto -->
                {% endif %}
            {% else %}  <!-- Si el usuario no está autenticado -->
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-black">  <!-- Menú de navegación con fondo negro -->
            {% endif %}

                <!-- Elementos del menú de navegación -->
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Inicio</a></li>  <!-- Enlace a la página de inicio -->
                <li><a href="{% url 'servicios' %}" class="nav-link px-2 text-white">Servicios</a></li>  <!-- Enlace a la página de servicios -->

                {% if not user.is_authenticated or group_name == 'clientes' or group_name == 'ejecutivos' %}  <!-- Si el usuario no está autenticado o es cliente o ejecutivo -->
                <li><a href="{% url 'pricing' %}" class="nav-link px-2 text-white">Precios</a></li>  <!-- Enlace a la página de precios --> <!-- Enlace a la página de precios -->
                <li><a href="{% url 'faq' %}" class="nav-link px-2 text-white">Preguntas y Respuestas</a></li>  <!-- Enlace a la sección de preguntas y respuestas -->
                <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">Acerca de</a></li>  <!-- Enlace a la sección 'Acerca de' -->
                {% endif %}
            </ul>  <!-- Fin del menú de navegación -->

            <!-- Sección de acciones de usuario -->
            <div class="d-flex align-items-center" style="gap: 20px;">  <!-- Contenedor para botones y acciones del usuario -->
                {% if user.is_authenticated %}  <!-- Si el usuario está autenticado -->
                    <li style="list-style-type: none;">  <!-- Elemento de lista sin estilo -->
                        <a class="nav-link px-2 text-white" href="{% url 'profile' %}">{{ group_name_singular|capfirst }}  <!-- Enlace a la página de perfil del usuario -->
                            | {{ user.username }}</a>  <!-- Muestra el nombre de usuario -->
                    </li>
                    <!-- Formulario para cerrar sesión -->
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}  <!-- Token CSRF para protección del formulario -->
                        <button type="submit" class="btn btn-lg btn-danger">Cerrar Sesión</button>  <!-- Botón para cerrar sesión -->
                    </form>
                {% else %}  <!-- Si el usuario no está autenticado -->
                    <!-- Enlaces para iniciar sesión o registrarse -->
                    <a href="{% url 'custom_login' %}" class="btn btn-outline-light me-2">Iniciar Sesión</a>  <!-- Enlace para iniciar sesión -->
                    <a href="{% url 'register' %}" class="btn btn-warning">Registrarse</a>  <!-- Enlace para registrarse -->
                {% endif %}
            </div>  <!-- Fin de las acciones del usuario -->
        </div>  <!-- Fin del contenedor principal -->
    </div>
</header>  <!-- Fin del encabezado -->

