{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Ofertas DentalArt</h1>
            <p class="fs-5 text-body-secondary">
                Descubre nuestras exclusivas opciones de tratamientos para el cuidado de tu sonrisa. En DentalArt, creemos que cada sonrisa es una obra maestra, y por eso te invitamos a aprovechar nuestras ofertas mensuales especialmente seleccionadas para ti.
            </p>
            
        </div>

        <main>
            <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-primary border-primary">
                            <h4 class="my-0 fw-normal">Blanqueamiento Dental</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$50,000<small class="text-body-secondary fw-light"> CLP</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Sesión de blanqueamiento</li>
                                <li>Asesoría personalizada</li>
                                <li>Resultados visibles</li>
                                <li>Incluye revisión inicial</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Reservar ahora</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-primary border-primary">
                            <h4 class="my-0 fw-normal">Limpieza Dental</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$30,000<small class="text-body-secondary fw-light"> CLP</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Eliminación de sarro</li>
                                <li>Limpieza profunda</li>
                                <li>Fluorización</li>
                                <li>Revisión de encías</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Reservar ahora</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-primary border-primary">
                            <h4 class="my-0 fw-normal">Consulta General</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$20,000<small class="text-body-secondary fw-light"> CLP</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Evaluación dental completa</li>
                                <li>Diagnóstico inicial</li>
                                <li>Recomendación de tratamientos</li>
                                <li>Orientación profesional</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Reservar ahora</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-primary border-primary">
                            <h4 class="my-0 fw-normal">Limpieza + Blanqueamiento</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$65,000<small class="text-body-secondary fw-light"> CLP</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Limpieza dental completa</li>
                                <li>Sesión de blanqueamiento</li>
                                <li>Asesoría personalizada</li>
                                <li>Incluye revisión inicial</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Reservar ahora</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'buttons_logins.html' %}
    </div>
{% endblock %}
