{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h2>Detalles del Servicio - <strong>{{ servicio }}</strong>
            {% if servicio.status == 'S' %}
                <span class="badge bg-success float-end">EN ETAPA DE SOLICITUD</span>
            {% elif servicio.status == 'P' %}
                <span class="badge bg-warning text-dark float-end">EN PROGRESO</span>
            {% elif servicio.status == 'F' %}
                <span class="badge bg-danger float-end">FINALIZADO</span>
            {% endif %}
        </h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Observación</th>
                <th scope="col">Archivo</th>
                <th scope="col">Odontograma</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
                {% for data in client_data %}
                <tr>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.observacion }}</td>
                    <td>
                        {% if data.archivo %}
                            <a href="{{ data.archivo }}" target="_blank">Ver Archivo</a>
                        {% else %}
                            No disponible
                        {% endif %}
                    </td>
                    <td>
                        {% if data.odontograma %}
                            <a href="{{ data.odontograma }}" target="_blank">Ver Odontograma</a>
                        {% else %}
                            No disponible
                        {% endif %}
                    </td>
                    <td>
                        {% if data.registro_id %}
                            <a class="btn btn-sm btn-primary {% if servicio.status == 'S' or servicio.status == 'F' %}disabled{% endif %}" href="{% url 'update_info' infocliente_id=data.registro_id %}">
                                Agregar Datos
                            </a>
                        {% else %}
                            No disponible
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}