{% extends 'base.html' %}

{% block content %}
    <div class="container my-4">
        <!-- Título y botón de agregar servicio (solo visible para administradores y ejecutivos) -->
        <div class="row">
            <div class="col">
                <h2>Nuestros Servicios</h2>
            </div>
            <div class="col">
                <span class="float-end">
                    {% if group_name == 'administradores' or group_name == 'ejecutivos' %}
                        <a class="btn btn-success" href="{% url 'servicios_create' %}">Agregar Servicio</a>
                    {% endif %}
                </span>
            </div>
        </div>

        <hr>

        <!-- Sección para mostrar mensajes de éxito -->
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Sección de servicios -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-4">
            {% for servicio in servicios %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <!-- Nombre y descripción del servicio -->
                            <h5 class="card-title">{{ servicio.name }}</h5>
                            <p class="card-text">{{ servicio.description }}</p>
                            
                            <!-- Información del profesional que ofrece el servicio -->
                            <p class="card-text">
                                <strong>Profesional: </strong>{{ servicio.profesional.first_name }} {{ servicio.profesional.last_name }}
                            </p>
                            
                            <!-- Información sobre la cantidad de procedimientos del servicio -->
                            <p class="card-text"><strong>Cantidad de procedimientos: </strong>{{ servicio.n_procedimientos }}</p>

                            <!-- Información sobre la cantidad de solicitantes del servicio (visible solo para administradores, ejecutivos y profesionales) -->
                            {% if group_name == 'administradores' or group_name == 'ejecutivos' or group_name == 'profesionales' %}
                                <p class="card-text"><strong>Cantidad de solicitantes: </strong>{{ servicio.enrollment_count }}</p>
                            {% endif %}

                            <!-- Estado del servicio: Finalizado, En progreso, o Disponible -->
                            {% if servicio.status == 'F' %}
                                <h5><span class="badge bg-danger w-100">{{ servicio.get_status_display|upper }}</span></h5>
                                {% if servicio.is_enrolled %}
                                    <p class="text-success"><strong>Servicio finalizado</strong></p>
                                {% endif %}
                            {% elif servicio.status == 'P' %}
                                <h5><span class="badge bg-warning text-dark w-100">{{ servicio.get_status_display|upper }}</span></h5>
                                {% if servicio.is_enrolled %}
                                    <p class="text-success"><strong>Servicio en progreso</strong></p>
                                {% endif %}
                            {% elif servicio.status == 'S' %}
                                <h5><span class="badge bg-success w-100">{{ servicio.get_status_display|upper }}</span></h5>

                                <!-- Opción para solicitar el servicio si el usuario es un cliente y no está inscrito aún -->
                                {% if user.is_authenticated %}
                                    {% if group_name == 'clientes' %}
                                        {% if not servicio.is_enrolled %}
                                            <a class="btn btn-sm btn-success" href="{% url 'inscribir_servicio' servicio.id %}">Solicitar Servicio</a>
                                        {% else %}
                                            <p class="text-success"><strong>Solicitud en curso o servicio ya inscrito</strong></p>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <p class="text-muted"><em>Inicia sesión para solicitar este servicio</em></p>
                                {% endif %}
                            {% endif %}
                            
                            <!-- Opciones para editar o eliminar el servicio (solo visible para administradores y ejecutivos) -->
                            {% if group_name == 'administradores' or group_name == 'ejecutivos' %}
                                <!-- Enlace para editar un servicio -->
                                <!-- Se verifica si el usuario tiene permiso para ver el botón "Editar" usando las condiciones previas en la vista -->
                                <a class="btn btn-sm btn-warning" href="{% url 'editar_servicios' servicio.pk %}">Editar</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'eliminar_servicios' servicio.pk %}">Eliminar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
