{% extends 'base.html' %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h2>Nuestros Servicios</h2>
            </div>
            <div class="col">
                <span class="float-end">
                    {% if group_name == 'administradores' %}
                        <a class="btn btn-success" href="#">Agregar Servicio</a>
                    {% endif %}
                </span>
            </div>
        </div>

        <hr>

        <!-- sección de mensajes -->
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-4">
            {% for servicio in servicios %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ servicio.name }}</h5>
                            <p class="card-text">{{ servicio.description }}</p>
                            <p class="card-text">
                                <strong>Profesional: </strong>{{ servicio.profesional.first_name }} {{ servicio.profesional.last_name }}
                            </p>
                            <p class="card-text"><strong>Cantidad de procedimientos: </strong>{{ servicio.n_procedimientos }}</p>

                            {% if group_name == 'administradores' or group_name == 'ejecutivos' or group_name == 'profesionales' %}
                                <p class="card-text"><strong>Cantidad de solicitantes: </strong>{{ servicio.enrollment_count }}</p>
                            {% endif %}

                            {% if servicio.status == 'F' %}
                                <h5><span class="badge bg-danger w-100">{{ servicio.get_status_display|upper }}</span></h5>
                                {% if servicio.is_enrolled %}
                                    <p class="text-success"><strong>Servicio finalizado</strong></p>
                                {% endif %}
                            {% elif servicio.status == 'P' %}
                                <h5><span class="badge bg-warning text-dark w-100">{{ servicio.get_status_display|upper }}</span></h5>
                                {% if servicio.is_enrolled %}
                                    <p class="text-success"><strong>Servicio en progreso</strong></p>
                                {% endif %}
                            {% elif servicio.status == 'S' %}
                                <h5><span class="badge bg-success w-100">{{ servicio.get_status_display|upper }}</span></h5>

                                {% if user.is_authenticated %}
                                    {% if group_name == 'clientes' %}
                                        {% if not servicio.is_enrolled %}
                                            <!-- Botón para solicitar el servicio si no está inscrito -->
                                            <a class="btn btn-sm btn-success" href="#">Solicitar Servicio</a>
                                        {% else %}
                                            <!-- Mensaje que indica que ya está inscrito o que la solicitud está en curso -->
                                            <p class="text-success"><strong>Solicitud en curso o servicio ya inscrito</strong></p>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <p class="text-muted"><em>Inicia sesión para solicitar este servicio</em></p>
                                {% endif %}
                            {% endif %}
                            
                            {% if group_name == 'administradores' or group_name == 'ejecutivos' %}
                                <a class="btn btn-sm btn-warning" href="#">Editar</a>
                                <a class="btn btn-sm btn-danger" href="#">Eliminar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
