{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h2>Cambiar Contraseña</h2>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-6">
            <div class="card mx-auto">
                <div class="card-body">
                    <form action="{% url 'profile_password_change' %}" method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="old_password">Contraseña actual</label>
                            <input class="form-control" type="password" name="old_password" id="old_password">
                        </div>

                        <div class="mb-3">
                            <label for="new_password1">Nueva Contraseña</label>
                            <input class="form-control" type="password" name="new_password1" id="new_password1">
                        </div>

                        <div class="mb-3">
                            <label for="new_password2">Confirmar nueva Contraseña</label>
                            <input class="form-control" type="password" name="new_password2" id="new_password2">
                        </div>

                        <input class="btn btn-primary" type="submit" value="Cambiar Contraseña" {% if password_changed %}disabled{% endif %}>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Su contraseña...</h5>
                    <ul>
                        <li>No puede ser similar a otros componentes de su información personal.</li>
                        <li>Debe contener por lo menos 8 caracteres.</li>
                        <li>No puede ser una contraseña usada muy comúnmente.</li>
                        <li>No puede estar formada exclusivamente por números.</li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}