<div class="container mt-3">
    <!-- Título principal -->
    <h5>TODOS LOS SERVICIOS</h5>

    <!-- Card para servicios en progreso -->
    <div class="card text-bg-warning shadow mt-3 mb-3">
        <div class="card-header">SERVICIOS EN PROGRESO</div>
        <div class="card-body">
            {% if servicios_progreso %}
                <ul class="list-group">
                    {% for servicio in servicios_progreso %}
                        {% with registro_count=servicio.registroservicio_set.count %}
                            <li class="list-group-item list-group-item-warning">
                                {{ servicio.name }}
                                <a href="{% url 'lista_asistencia' servicio_id=servicio.id %}" class="btn btn-sm btn-warning float-end">
                                    {% if servicio.status == 'P' %}
                                        Ver Asistencias
                                    {% endif %}
                                    <span class="badge rounded-pill bg-light text-danger">{{ registro_count }}</span>
                                </a>
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    No hay Servicios en progreso hasta el momento
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Card para servicios en solicitud -->
    <div class="card text-bg-success shadow mb-3">
        <div class="card-header">SERVICIOS EN SOLICITUD</div>
        <div class="card-body">
            {% if servicios_solicitud %}
                <ul class="list-group">
                    {% for servicio in servicios_solicitud %}
                        {% with registro_count=servicio.registroservicio_set.count %}
                            <li class="list-group-item list-group-item-success">
                                {{ servicio.name }}
                                <a href="{% url 'lista_asistencia' servicio_id=servicio.id %}" class="btn btn-sm btn-success float-end">
                                    {% if servicio.status == 'S' %}
                                        Ver Asistencias
                                    {% endif %}
                                    <span class="badge rounded-pill bg-light text-danger">{{ registro_count }}</span>
                                </a>
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-success" role="alert">
                    No hay Servicios en solicitud hasta el momento
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Card para servicios finalizados -->
    <div class="card text-bg-danger shadow mb-3">
        <div class="card-header">SERVICIOS FINALIZADOS</div>
        <div class="card-body">
            {% if servicios_finalizados %}
                <ul class="list-group">
                    {% for servicio in servicios_finalizados %}
                        {% with registro_count=servicio.registroservicio_set.count %}
                            <li class="list-group-item list-group-item-danger">
                                {{ servicio.name }}
                                <a href="{% url 'lista_asistencia' servicio_id=servicio.id %}" class="btn btn-sm btn-danger float-end">
                                    {% if servicio.status == 'F' %}
                                        Ver Asistencias
                                    {% endif %}
                                    <span class="badge rounded-pill bg-light text-danger">{{ registro_count }}</span>
                                </a>
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    No hay Servicios finalizados hasta el momento
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div>
        {% if group_name == 'ejecutivos' %}
        <div class="btn-group" role="group">
            <!-- Botones existentes -->
            <a href="{% url 'consultas_pagadas' %}" class="btn btn-success">
                <i class="fas fa-check-circle"></i> Consultas Pagadas
            </a>
            <a href="{% url 'consultas_pendientes' %}" class="btn btn-warning">
                <i class="fas fa-clock"></i> Consultas Pendientes
            </a>
            <a href="{% url 'crear_consulta' %}" class="btn btn-primary">
                <i class="fas fa-plus"></i> Crear Consulta
            </a>
            <br>
            <hr>
            <a href="{% url 'servicios_dashboard' %}" class="btn btn-info">
                <i class="fas fa-chart-line"></i> Dashboard Servicios
            </a>
            <a href="{% url 'ventas_dashboard' %}" class="btn btn-primary">
                <i class="fas fa-chart-line me-2" aria-hidden="true"></i>
                <span>Ver Dashboard de Ventas</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
