
{% extends 'base.html' %}  <!-- Extiende la plantilla base.html, heredando su estructura general -->
{% load static %}
{% block content %}  <!-- Inicia el bloque de contenido específico para esta plantilla -->

    <div class="container my-3">  <!-- Contenedor principal con un margen superior -->
        <div class="row">  <!-- Fila para dividir el contenido en dos columnas -->
            <div class="col-md-4">  <!-- Columna para los datos del perfil (1/3 del ancho) -->
                <!-- CARD DATOS DE PERFIL -->
                <div class="card border rounded-2 shadow p-3 mb-3">  <!-- Tarjeta de perfil con borde, sombra y padding -->
                    <div class="card-body">  <!-- Cuerpo de la tarjeta donde se coloca la información -->
                        <div class="text-center">  <!-- Centra la imagen de perfil -->
                            {% if user.profile.image %}
                                <img class="img-thumbnail rounded-circle mb-3" src="{{ user.profile.image.url }}" alt="{{ user.username }}" style="width: 150px;">
                            {% else %}
                                <img class="img-thumbnail rounded-circle mb-3" src="{% static 'users/usuario_defecto.jpg' %}" alt="Imagen por defecto" style="width: 150px;">
                            {% endif %} <!-- Imagen de perfil del usuario -->
                        </div>
                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>  <!-- Nombre completo del usuario -->
                        <hr>  <!-- Línea horizontal para separar las secciones -->
                        <p><strong>Nombre de usuario: </strong>{{ user.username }}</p>  <!-- Nombre de usuario -->
                        <p><strong>Domicilio: </strong>{{ user.profile.address }}</p>  <!-- Dirección del usuario -->
                        <p><strong>Localidad: </strong>{{ user.profile.location }}</p>  <!-- Localidad del usuario -->
                        <p><strong>Teléfono: </strong>{{ user.profile.telephone }}</p>  <!-- Teléfono del usuario -->
                        <p><strong>Correo electrónico: </strong>{{ user.email }}</p>  <!-- Correo electrónico del usuario -->
                        <hr>  <!-- Línea horizontal -->
                        <div class="text-center">  <!-- Contenedor para los botones de acción -->
                            {% if request.user.username == 'admin' %}  <!-- Verifica si el usuario es el administrador -->
                                <a class="btn btn-warning w-100 mb-1" href="{% url 'admin:index' %}">Ir al Admin</a>  <!-- Enlace al panel de administración -->
                            {% endif %}
                            <a class="btn btn-outline-secondary w-100 mb-1" href="#" data-bs-toggle="modal" data-bs-target="#editProfileModal">Editar Perfil</a>  <!-- Enlace para abrir el modal de edición de perfil -->
                            <form method="POST" action="{% url 'logout' %}" class="d-inline">  <!-- Formulario para cerrar sesión -->
                                {% csrf_token %}  <!-- Token CSRF para proteger el formulario contra ataques -->
                                <button type="submit" class="btn btn-danger w-100">Cerrar sesión</button>  <!-- Botón para cerrar sesión -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">  <!-- Columna para el contenido específico del usuario (2/3 del ancho) -->
                <div class="card border rounded-2 shadow p-3 mb-3">  <!-- Otra tarjeta para mostrar el contenido relacionado al usuario -->
                    <div class="card-body">  <!-- Cuerpo de la tarjeta -->
                        <!-- Evaluar grupo al que pertenece el usuario -->
                        {% if group_name == 'clientes' %}  <!-- Si el usuario pertenece al grupo 'clientes' -->
                            {% include 'profile/clientes.html' %}  <!-- Incluir la plantilla 'clientes.html' -->
                        {% elif group_name == 'profesionales' %}  <!-- Si el usuario pertenece al grupo 'profesionales' -->
                            {% include 'profile/profesionales.html' %}  <!-- Incluir la plantilla 'profesionales.html' -->
                        {% elif group_name == 'ejecutivos' %}  <!-- Si el usuario pertenece al grupo 'ejecutivos' -->
                            {% include 'profile/ejecutivos.html' %}  <!-- Incluir la plantilla 'ejecutivo.html' -->
                        {% elif group_name == 'administradores' %}  <!-- Si el usuario pertenece al grupo 'administradores' -->
                            {% include 'profile/admin.html' %}  <!-- Incluir la plantilla 'admin.html' -->
                        {% endif %}
                    </div>
                </div>    
            </div>
        </div>
    </div>

    <!-- Modal para Editar Perfil -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Editar Perfil</h5>  <!-- Título del modal -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  <!-- Botón para cerrar el modal -->
                </div>
                <form action="" method="post" enctype="multipart/form-data">  <!-- Formulario para actualizar el perfil -->
                    {% csrf_token %}  <!-- Token CSRF para protección -->
                    <div class="modal-body">
                        <div class="d-flex">
                            <img class="mx-auto img-thumbnail rounded-circle mb-3" src="{{ user.profile.image.url }}" alt="{{ user.username }}" style="width: 100px;">  <!-- Imagen de perfil actual -->
                        </div>
                        <div class="mb-3">
                            <label for="image">Imagen de perfil</label>
                            <input class="form-control" type="file" name="image" id="image">  <!-- Campo para cambiar la imagen de perfil -->
                        </div>
                        <div class="d-flex">
                            <div class="mb-3 mr-2">
                                <label for="first_name">Nombre</label>
                                <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">  <!-- Campo para editar el nombre -->
                            </div>
                            <div class="mb-3">
                                <label for="last_name">Apellido</label>
                                <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">  <!-- Campo para editar el apellido -->
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" name="address" value="{{ user.profile.address }}">  <!-- Campo para editar la dirección -->
                        </div>
                        <div class="mb-3">
                            <label for="location">Localidad</label>
                            <input type="text" class="form-control" name="location" value="{{ user.profile.location }}">  <!-- Campo para editar la localidad -->
                        </div>
                        <div class="d-flex">
                            <div class="mb-3 mr-2">
                                <label for="telephone">Teléfono</label>
                                <input type="text" class="form-control" name="telephone" value="{{ user.profile.telephone }}">  <!-- Campo para editar el teléfono -->
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" value="{{ user.email }}" readonly>  <!-- Campo para ver el email, solo lectura -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>  <!-- Botón para cerrar el modal -->
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>  <!-- Botón para guardar los cambios -->
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
